<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  href="static/style.css">
        <title>Test</title>
    </head>
    <body>
        <div class="header-box">
            <nav class="nav">
                <ul>
                    <li><a href= index.html>Home</a></li>
 
                    <li>
                        <a href="#">Features</a>
                        <ul>
                            <li><a href="Option1.html">Calculator</a></li>
                            <li><a href= "Option2.html" >Quiz</a></li>
                        </ul>
                    </li>
                </ul>
 
 
            </nav>
 
        </div>
        <div class="header">
            <h1>The Heart</h1>
            <p>Welcome to our project!</p>
        </div>
       
 
         
        <p class="text">It's within us at all times, a BOMB waiting to explode. It never discriminates, not by ethnicity, age or gender,
            it can get anyone. Yet, it's also the greatest source of life. The heart. The heart is one of the main organs in our body. It
        pumps blood through-out, supplying much needed oxygen everywhere keeping us alive. So what happens when the heart begins to fail? Lets learn a little more about our hearts. </p>
       
        <p class="text">Heart disease is the leading cause of death in the United States. Heart disease is any disease that affects the heart or blood vessels. According to the CDC one in EVERY five deaths are caused by heart disease. The most common form
            of these diseases is coronary heart diease where the major blood vessels of the body get clogged with buildups of a variety of substances such as fat. Eventually these buildups can cause a rupture creating blood clots, that can eventualy lead to heart failure and even death.
           
        </p>
       
        <p class="text">So how can we help stop these heart problems? Well first, smoking. By cutting cigars and similar objects out we can minimize heart risk.
            Another option is maintaining a low fat high fiber diet. Lastly, staying active, getting your daily reccommended amount of exercise can signifigantly help your chances. <br><br> Check out the other parts of the website for more about hearts.</p>
 
 
 
 
 
    </body>
 
 
</html>