<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <title class="nav_text">Test</title>
    </head>
    <body>
        <div class="header-box">
            <nav class="nav">
                <ul>
                    <li><a href="#">Home</a></li>

                    <li>
                        <a href="#">Features</a>
                        <ul>
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Contact</a></li>
                </ul>


            </nav>
        </div>
        <div class="header">
            <h1>Header</h1>
            <p>Welcome to the header!</p>
        </div>
        <p class="text">
            {{content}}
        </p>
    </body>
</html>