<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  href="static/style.css">
        <title>Test</title>
    </head>
    <body>
        <div class="header-box">
            <nav class="nav">
                <ul>
                    <li><a href= "index.html">Home</a></li>
 
                    <li>
                        <a href="#">Features</a>
                        <ul>
                            <li><a href= "Option1.html">Calculator</a></li>
                            <li><a href= "Option2.html" >Quiz</a></li>
             
                        </ul>
                    </li>
                </ul>
 
 
            </nav>
 
        </div>
        <div class="header">
            <h1>Quiz</h1>
            <p>Lets learn more about the heart!</p>
        </div>
 
           
        <h2 >   Where is the heart located? (left,right,center)</h2>
 
       
        <input class="questions" type="text"  placeholder="Enter here" pattern="center" required>
 
        <h2 >   How many times does your heart beat a day?  </h2>
 
       
        <input class="questions" type="text"  placeholder="Enter here" pattern="100000" required>
       
        <h2 >   Which is more dangerous: inactivity or smoking? </h2>
 
       
        <input class="questions" type="text"  placeholder="Enter here" pattern="inactivity" required>
 
        <h2 >   Cardiovascular disease causes one death every __ seconds in the US? </h2>
 
       
        <input class="questions" type="text"  placeholder="Enter here" pattern="33" required>
 
        <h2 >   An adult has how many miles of blood vessels? </h2>
 
       
        <input class="questions" type="text"  placeholder="Enter here" pattern="60000" required>
 
        <h2 >   Who's hearts beat faster? (men or women)</h2>
 
       
        <input class="questions" type="text"  placeholder="Enter here" pattern="women" required>
 
        <h2 >   What year was the pacemaker invented? </h2>
 
       
        <input class="questions" type="text"  placeholder="Enter here" pattern="1958" required>
       
      <pre>
 
 
 
 
 
      </pre>
       
 
    </body>
 
 
 
</html>